@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400');

body {
  font-family: 'Roboto Mono';
}

.btn {
  background-color: #3BA935;
  left: 50%;
  margin-left: -50px;
  position: relative;
  margin-top:10px;
  margin-bottom:10px;
}

.loading .loader{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top:75px;
  background: 
    rgba( 255, 255, 255, .8 ) 
    url('loading.gif') 
    50% 50% 
    no-repeat;
}

.loading table {
  display:none;
}